body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.cont{
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header{
    padding: 20px 0;
    background-color: black;
    color: white;
}
.main-header::after{
    display: table;
    clear: both;
    content: "";
}
.logo{
    padding: 10px 0;
    float: left;
    font-size: 18px;
    
}
.logo p{
    display: inline-block;
    vertical-align: top;
}

.menu{
    float: right;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
}