html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.1em;
    box-shadow: 10px 0 20px #bbb8b8;
 }
 .header .menu ul {
    display: flex;
    list-style: none;
 }
 .header .menu ul li{
    margin: 20px 10px;
 }
 .logo{
     margin-left: 30px;
 }
 .email{
     margin-right: 30px;
 }
  a{
    text-decoration: none;
    
    color: white;
 }
 a:hover{
     color: red;
     text-shadow: 0 0 25px  rgb(250, 43, 43);
 }
 h1,
 h2{
    text-align: center; 
 }
 
 .about-title{
    margin: 0 auto;
    width: 50%;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 1%;
    text-align: justify;
 }
 .about-title a{
     color: black;
 }
 .about-title a:hover{
     color:red;
 }
 .about-title h2{
     margin-top: 0;
 }

 .work{  
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     background-color:black;
     padding: 2%;
     box-shadow: 10px 0 20px #bbb8b8;
     
 }
 .work1,
 .work2,
 .work3{
     margin: 1% 0;
     
 }

 .work img {
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.747);
    border-radius: 5%;
 }
 .work img:hover{
    animation-name: scale;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes scale {
    100%{
        transform: scale(1.1);
    }
}
#skills {
    display: flex;
    justify-content: center; 
    margin: 2% 0;
}
.skills-cont{
    min-width: 50%;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1%;
    box-sizing: border-box;
}
.cont-skills-flex{
    display: flex;
    justify-content: space-around;
}
.skills-list-first ul,
.skills-list-second ul{
    list-style-image: url("img/checkmark.png");
}
.up-btn {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 2px solid red;
  border-radius: 50%;
  box-shadow: 0 0 20px red;
  outline: none;
  display: none;
  cursor: pointer;
}
.shown {
    display: block;
}
#main-footer {
    margin: 3% 0 0 0;
    padding-top: 1%;
    text-align: center;
    background-color: black;
    box-shadow: 10px 0 20px #bbb8b8;
  }
  .social {
      letter-spacing: 0.9em;
      margin: 0;
  }
  @media (max-width: 650px) {
      .menu {
          display: none;
      }
      .about-title{
          width: 90%;
      }
      .skills-cont{
        width: 90%;

      }

      .email {
          display: none;
      }


  }